@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="row">
    <section id="hero1" class="d-flex align-items-center justify-content-center " style="background-image: url('/images/Slides/about1.webp');">

        <div class="container position-relative">
            <h1>Welcome to Shimano</h1>
            <h2>New Project One Designer Series Driftless paint schemes</h2>
            <button class="btn-get-started scrollto">
                <a asp-action="Redirect">Get Started</a>
            </button>
        </div>
    </section>
</div>