@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <section id="hero" class="d-flex align-items-center justify-content-center about" style="background-image: url('/images/Slides/online-shopping-banner-template_23-2148929775.png');">
        <div class="container position-relative">
            <h1>Chào mừng đến với Shimano</h1>
            <h2>Website thời trang unisex</h2>
            <button class="btn-get-started scrollto">
                <a href="/Home/AllProduct">Bắt đầu</a>
            </button>
        </div>
    </section>
</div>
<section id="services" class="services">
    <div class="container">
        <div class="row" style="margin-top: 40px;">
            <div class="col-lg-3 col-md-4 d-flex align-items-stretch">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-truck-fast"></i></div>
                    <h4><a href="">Miễn phí vận chuyển</a></h4>
                    <p>Đơn hàng > 3.000.000 hoặc đăng ký tài khoản được miễn phí vận chuyển.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 d-flex align-items-stretch">
                <div class="icon-box">
                    <div class="icon"><i class="fa-sharp fa-solid fa-box"></i></div>
                    <h4><a href="">Trả hàng, Bảo hành</a></h4>
                    <p>Trả hàng khi sản phẩm lỗi. Bảo hành sản phẩm trong 2 năm.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-circle-check"></i></div>
                    <h4><a href="">Chính hãng</a></h4>
                    <p>Sản phẩm chính hãng. Được nhập khẩu trực tiếp từ hãng 100%. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-circle-check"></i></div>
                    <h4><a href="">Chính hãng</a></h4>
                    <p>Sản phẩm chính hãng.Được nhập khẩu trực tiếp từ hãng 100% </p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container" style="margin-top:50px">
    <h2 style=" text-align:left">Sản phẩm</h2>
    <div class="card py-5 index1" style="color:#fff;">
        <div class="card-body text-left">
            <div class="row justify-content-left">
                <div class="col-5" style="margin-top:300px; margin-left:30px">
                    <h5><b>Perfect balance</b></h5>
                    <h1 style=" text-align:left">ULTIMATE - THE CHOICE OF OUR PROS</h1>
                    <br />
                    <h5><b>Lightness, speed and freedom.</b></h5>
                    <h5><b>Perfectly balanced road racing performance - this is the Ultimate</b></h5>

                    <div class="row justify-content-left">
                        <div class="col-10">
                            <a href="/Home/AllProduct" class="btn btn-secondary" style="color:white">Mua ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<main id="main">