@{
    ViewData["Title"] = "Privacy Policy";
}
<h3 style="margin-top:120px; text-align: center">ĐẶT HÀNG THÀNH CÔNG</h3>
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="btn btn-primary">
                @Html.ActionLink("Tiếp tục mua hàng", "AllProduct","Home")
            </div>
        </div>
        <div class="col-4"></div>
        <div class="col-4">
            <p>
                <a href="/CheckOut/UserBills" class="btn btn-primary" type="button"></i> Xem đơn hàng</a>
            </p>
        </div>
    </div>
</div>